* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgb(4,240,202);
  background: linear-gradient(90deg, rgba(4,240,202,1) 0%, rgba(26,101,215,1) 50%, rgba(184,44,226,1) 100%); 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 694px;
  height: 502px;
  background: #FFF;
  
}

.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75px;
  color: #000;
  font-family: Raleway;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.start-app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 150px;

  .regles-app {
    width: 460px;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
  }
  
  #start{
    display: flex;
    padding: 8px 16px; 
    border-radius: 6px; 
    border: none;
    background: #0F172A;
    color: #FFF; 
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500; 
    line-height: normal;
    cursor: pointer;
  }
}
.hidden {
  display: none;
}
.play-app {
  flex-direction: column;
  align-items: center;
  width: 487px;
  height: auto;
  gap: 32px;

  .info-play  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .score-play {
    text-align: right;
    width: 100%;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.proposition {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 487px;

  label {
    color: #0F172A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500; 
  }
  .input-info {
    color: #64748B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400; 
  }
}
.input {
  display: flex;
  gap: 8px;
  width: 487px;

  input {
    width: 372px;
    padding: 8px 56px 8px 12px; 
    border-radius: 6px; 
    border: 1px solid #CBD5E1;
    background: #FFF;
    color: #0F172A; 
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500; 
    line-height: normal;
  }
  #submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    padding: 8px 16px;
    color: #FFF; 
    border-radius: 6px;
    background: #0F172A;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500; 
    border: none;
    cursor: pointer;
  }
}
.attempts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  #attempts {
    position: relative;
  }

  .play-prop {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 487px;
    height: 44px; 
    border-radius: 6px;
    border: 1px solid #94A3B8; 
    gap: 8px;
  }
  
  .range-labels {
    display: flex;
    justify-content: space-between;
    width: 100%; 
  
    .prop-min, .prop-max {
      color: #000;
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
    }
  }
}


#restart {
  justify-content: center;
  align-items: center; 
  border-radius: 6px;
  padding: 8px 16px;
  background: #0F172A; 
  color: #FFF; 
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500; 
  border: none;
  cursor: pointer;
} 





